<html>
<head>
        <meta charset="utf-8" />
        <!-- import plugin script -->   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> 
</head>
<body>
    <h1>View Your Top Consumers {{username}}</h1>
    <h2>Top customers (number of tickets)</h2>
    <canvas id="chart1" width="600" height="400"></canvas>
    <script>
        var barData = {
            labels: [{% for item in labels1 %}
                        "{{item}}",
                        {% endfor %}],
            datasets: [{
                label: '{{legend1}}',
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [{% for item in values1 %}
                            {{item}},
                            {% endfor %}]
                }],
            }
            
            var mychart = document.getElementById("chart1").getContext("2d");
            steps = 5
            max = 20
            // draw bar chart
            new Chart(mychart).Bar(barData, {
                scaleOverride: true,
                scaleSteps: steps,
                scaleStepWidth: Math.ceil(max / steps),
                scaleStartValue: 0,
                scaleShowVerticalLines: true,
                scaleShowGridLines : true,
                barShowStroke : true,
                scaleShowLabels: true
            });
    </script>
    <h2>Top customers (total commission)</h2>
    <canvas id="chart2" width="600" height="400"></canvas>
    <script>
        var barData = {
            labels: [{% for item in labels2 %}
                        "{{item}}",
                        {% endfor %}],
            datasets: [{
                legend: 'top customers (total commission)',
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [{% for item in values2 %}
                            {{item}},
                            {% endfor %}]
                }]
            }
            var mychart = document.getElementById("chart2").getContext("2d");
            steps = 5
            max = 1000
            // draw bar chart
            new Chart(mychart).Bar(barData, {
                scaleOverride: true,
                scaleSteps: steps,
                scaleStepWidth: Math.ceil(max / steps),
                scaleStartValue: 0,
                scaleShowVerticalLines: true,
                scaleShowGridLines : true,
                barShowStroke : true,
                scaleShowLabels: true
            });
    </script>
    <p><a href="/agent">Home</a></p>
</body>
</html>