<html>
<head>
</head>
<body>
    <h1>View Your Flights {{username}}</h1>
    <table>
            <tbody>
            {% for item in data %}
            <tr>
                <td>airline</td>
                <td>flight number</td>
                <td>depature airport</td>
                <td>departure time</td>
                <td>arrival airport</td>
                <td>arrival time</td>
                <td>price</td>
                <td>status</td>
                <td>airplane id</td>
            </tr>
            <tr>
                <td>{{item.airline_name}}</td>
                <td>{{item.flight_num}}</td>
                <td>{{item.departure_airport}}</td>
                <td>{{item.departure_time}}</td>
                <td>{{item.arrival_airport}}</td>
                <td>{{item.arrival_time}}</td>
                <td>{{item.price}}</td>
                <td>{{item.status}}</td>
                <td>{{item.airplane_id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="/customer/home">Home</a></p>
</body>
</html>