<!DOCTYPE html><html lang="en">
    <head>   
        <meta charset="utf-8" />
        <!-- import plugin script -->   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script> 
    </head>

<body>
    <h1>Track Your Spending {{username}}</h1>
    <h3>Total spending in the last year</h3>
    <p>{{total['expense']}}</p>
    <h3>Specify the time range</h3>
    <form action="/customer/track_spending" method="POST">
        Start date:<br>
        <input type="date" name="start_date"></input><br>
        End date:<br>
        <input type="date" name="end_date"></input><br>
        <input type='Submit' value=Submit></input><br>
    </form>
    <br>
    <canvas id="chart" width="600" height="400"></canvas>
    <!-- {% for item in data %}
    <p>{{item.price}}</p>
    {% endfor %} -->
    <script>
        var barData = {
            labels: [{% for item in labels %}
                        "{{item}}",
                        {% endfor %}],
            datasets: [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                data : [{% for item in values %}
                            {{item}},
                            {% endfor %}]
                }]
            }
        // TODO: set x, y axis labels
        var mychart = document.getElementById("chart").getContext("2d");
        steps = 10
        max = 5000
        // draw bar chart
        new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true
        });
    </script>


    <p><a href="/customer">Home</a></p>
</body>
</html>