<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<h3>Login</h3>
	<p><a href="/login_customer">Login as a cutomer</a></p>
	<p><a href="/login_agent">Login as a booking agent</a></p>
	<p><a href="/login_staff">Login as an airline staff</a></p>
	<h3>Register</h3>
	<p><a href="/register_customer">Register as a customer</a></p>
	<p><a href="/register_agent">Register as an booking agnet</a></p>
	<p><a href="/register_staff">Register as a staff</a></p>
	<h3>Incoming flights</h4> </br>
	<table>
		<tbody>
		{% for item in data %}
		<tr>
			<td>airline</td>
			<td>flight number</td>
			<td>depature airport</td>
			<td>departure time</td>
			<td>arrival airport</td>
			<td>arrival time</td>
			<td>price</td>
			<td>status</td>
			<td>airplane id</td>
		</tr>
		<tr>
			<td>{{item.airline_name}}</td>
			<td>{{item.flight_num}}</td>
			<td>{{item.departure_airport}}</td>
			<td>{{item.departure_time}}</td>
			<td>{{item.arrival_airport}}</td>
			<td>{{item.arrival_time}}</td>
			<td>{{item.price}}</td>
			<td>{{item.status}}</td>
			<td>{{item.airplane_id}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	

	
</body>

</html>