<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% if not message %}
	<h3>Login</h3>
	<p><a href="/login_customer">Login as a cutomer</a></p>
	<p><a href="/login_agent">Login as a booking agent</a></p>
	<p><a href="/login_staff">Login as an airline staff</a></p>
	<h3>Register</h3>
	<p><a href="/register_customer">Register as a customer</a></p>
	<p><a href="/register_agent">Register as an booking agnet</a></p>
	<p><a href="/register_staff">Register as a staff</a></p>
{% endif %}

{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/tweets">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}
</body>

</html>
