<html>

<head>

</head>

<body>
    <t3>{{airline_name}}</t3>
    <p>Top agents for the last month based on the number of tickets sold</p>
    <table>
        <th>Agent ID</th>
        <th>Number of Tickets Sold</th>

        {% for topAgent in result1month %}
            <tr>
                <td>{{topAgent.booking_agent_id}}</td>
                <td>{{topAgent.ticket_sold}}</td>
            </tr>
        {% endfor %}
    </table>
    <p>Top agents for the last year based on the number of tickets sold</p>
    <table>
        <th>Agent ID</th>
        <th>Number of Tickets Sold</th>

        {% for topAgent in result1year %}
            <tr>
                <td>{{topAgent.booking_agent_id}}</td>
                <td>{{topAgent.ticket_sold}}</td>
            </tr>
        {% endfor %}
    </table>
	<p>Top agents for the last year based on the total sale of the tickets</p>
    <table>
        <th>Agent ID</th>
        <th>Total Sale of the tickets</th>

        {% for topAgent in result1year_com %}
            <tr>
                <td>{{topAgent.booking_agent_id}}</td>
                <td>{{topAgent.total_commission}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/staff">Back</a>

</body>

</html>